*{
    box-sizing: border-box;
    font-family: Consolas,monaco,monospace; 
    /* border : 5px solid red; */
    
}



/* .box1a, .box1b, .box1c{
    border : 5px solid red;
} */



.box1a{
    display:flex;
    justify-content: center;
    /* border : 5px solid blueviolet; */
}



.box2aOFF{
    /* border : 5px solid greenyellow; */
    width:100;
    margin: 1em 28em 0em 1em;
    /* border : 3px solid blue; */
}

.box2aON{
    /* border : 5px solid greenyellow; */
    width:100;
    margin: 1em 9.5em 0em 1em;
} 

.box3a{
    display : flex;
    justify-content: space-between;
    /* border : 5px solid purple; */
    /* padding : 0 1em 0 1em; */
}

.box3c{
    display: flex;
    justify-content: center;

    margin: 1em 6em 2em 0em;
    /* width : 100%; */
    justify-content: center;
}

.box4a{
    /* display : flex; */
    justify-content: flex-start;
    padding-bottom: 1.3em;
    
}



.box5b, .secretbox3d, .secretbox3e, .secretbox3f{
    font-size: 1.2em;
    padding : 0.45em;
    margin-right : 1.3em;
    border : 3px solid #D3D3D3;
    border-radius: 2px;  
}

.secretbox3d, .secretbox3e, .secretbox3f{
    margin : 0.7em;
}

.secretbox3d{
    padding-right :2.6em;
    text-align: center;
    
}
.box5c{
    /* width : 35%; */
}

.buttonstyle{
    font-size: 1.2em;
    padding : 0.6em;
    background-color: #66b3ff;
    border: none; 
    border-radius: 2px; 
}


table{
    display : flex;
    justify-content: center;
}

/* color all the even cells children of td white */
tr:nth-child(even){
    background-color: #D3D3D3;
}

/* color all the even cells children of tr gray */
tr:nth-child(odd){
    background-color: #F5F4F5;
}

th, td{
    /* border : 5px solid green; */
    width: 10rem;
    height: 5rem;
    text-align: center;
}

