*{
    box-sizing: border-box;
    font-family: Consolas,monaco,monospace; 
    /* border : 5px solid red; */
    
}



/* .box1a, .box1b, .box1c{
    border : 5px solid red;
} */



.box1a{
    display:flex;
    justify-content: center;
}

.box2a{
    /* border : 5px solid greenyellow; */
    margin: 1em 1em 1em 1em;
}

.box3a{
    display : flex;
    justify-content: space-around;
}

.box3c{
    display: flex;
    justify-content: center;
    margin: 1em 1em 2em 1em;
}




.box5b, .secretbox3a, .secretbox3b, .secretbox3c{
    font-size: 1.2em;
    padding : 0.45em;
    margin-right : 1.3em;
    border : 3px solid #D3D3D3;
    border-radius: 2px;  
}

.secretbox3a, .secretbox3b, .secretbox3c{
    margin : 0.7em;
}

.secretbox3a{
    padding-right :2.6em;
    text-align: center;
}

.buttonstyle{
    font-size: 1.2em;
    padding : 0.6em;
    background-color: #66b3ff;
    border: none; 
    border-radius: 2px; 
}


table{
    display : flex;
    flex-direction: row;
    justify-content: center;
    
}

/* color all the even cells children of td white */
tr:nth-child(even){
    background-color: #D3D3D3;
}

/* color all the even cells children of tr gray */
tr:nth-child(odd){
    background-color: #F5F4F5;
}

th, td{
    /* border : 5px solid green; */
    width: 10rem;
    height: 5rem;
    text-align: center;
}

